# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/

# IDE
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

*.csv

firebase.conf
.env
